@charset "UTF-8";
/***************************************************************/
/******************** Place Holders - Inicio  ******************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&family=Roboto+Condensed:wght@300;400;700&display=swap");
main.inicio .destacados, .newsletter .newsletter__titulo, .social .social__titulo, .bodyGeometry, #eventos, #app {
  background-color: #545454;
  color: white; }

main.inicio .imagenSecundaria, main.noticias .imagenPremio {
  width: 100%;
  height: 52vw; }

.tarjeta .tarjeta__titulo, .tituloBoxClaro {
  background-color: #b9b8b8;
  color: white;
  font-weight: 700; }
  @media only screen and (max-width: 991px) {
    .tarjeta .tarjeta__titulo, .tituloBoxClaro {
      font-size: 1.3rem; } }

.newsletter .newsletter__titulo, .social .social__titulo {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: .5rem;
  width: 90%;
  height: auto;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto 1rem auto; }

main.inicio, main.productos, main.servicios, main.noticias, main.contacto {
  /**** Color general del MAIN *****/
  background-color: #b9b8b8;
  background: linear-gradient(180deg, #b9b8b8 0%, rgba(84, 84, 84, 0.75) 100%);
  /*** Titulos general ***/ }
  main.inicio h2, main.productos h2, main.servicios h2, main.noticias h2, main.contacto h2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800; }
  main.inicio h3, main.productos h3, main.servicios h3, main.noticias h3, main.contacto h3 {
    font-size: 1.5rem; }
  main.inicio h4, main.productos h4, main.servicios h4, main.noticias h4, main.contacto h4 {
    font-size: 1.2rem; }

/********************* Place Holders - Fin  ********************/
/***************************************************************/
/********************* Reseteo general CSS *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*************** Asignacion general de fuentes ****************/
html {
  font-size: 16px; }
  html h1, html h2, html h3, html h4 {
    font-family: "Montserrat", Helvetica, sans-serif; }
  html p, html nav, html label {
    font-family: "Roboto Condensed", Helvetica, sans-serif; }
  @media only screen and (max-width: 1300px) {
    html {
      font-size: 14px; } }
  @media only screen and (max-width: 575px) {
    html {
      font-size: 12px; } }

/************** Propiedades generales de textos ****************/
main h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 800; }

main h3 {
  font-size: 1.5rem; }

main h4 {
  font-size: 1.2rem; }

/* para pisar a Bootstrap */
p {
  margin-bottom: 0; }

/***************************************************************/
/************************ Header - Inicio **********************/
header {
  background: #b9b8b8;
  position: sticky;
  top: 0;
  z-index: 1020;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.4);
  background: linear-gradient(90deg, #212121 0%, #545454 75%, #b9b8b8 100%);
  font-size: 1.4rem; }

/************************** Header - Fin ***********************/
/***************************************************************/
/***************************************************************/
/***************** Main del index.html - Inicio ****************/
main.inicio .destacados {
  /********** Seccion destacados ***********/
  /*********** Titulo destacados ***********/ }
  main.inicio .destacados h2 {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 2vw;
    background-color: #545454;
    color: white;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.2em; }
    main.inicio .destacados h2 span {
      font-weight: 500;
      font-style: normal;
      white-space: nowrap; }
  main.inicio .destacados .animate__fadeInRightBig {
    animation-delay: 0.3s; }

main.inicio .imagenSecundaria {
  background: url("../Img/secundaria.jpg") no-repeat top/cover; }

main.inicio .difusion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5vw; }

@media only screen and (max-width: 991px) {
  main.inicio .destacados h2 {
    font-size: 3.3rem; }
  main.inicio .imagenSecundaria {
    background-size: cover;
    height: 550px;
    background-position: 70% top; }
  main.inicio .difusion {
    flex-direction: column;
    align-items: center; } }

@media only screen and (max-width: 767px) {
  main.inicio .destacados h2 {
    font-size: 3.2rem; }
  main.inicio .destacados .animate__fadeInRightBig {
    animation: fadeInLeftBig;
    animation-delay: 0s; }
  main.inicio .destacados .tarjeta {
    margin: 1vw 0;
    height: auto;
    min-height: initial; } }

@media only screen and (max-width: 575px) {
  main.inicio .destacados h2 {
    font-size: 2.2rem; }
  main.inicio .imagenSecundaria {
    height: 250px; } }

/******************** Main del index.html - Fin ****************/
/***************************************************************/
/***************************************************************/
/************************ Footer - Inicio  *********************/
/********************* Flexbox anidados row ********************/
footer .contenidoFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #212121;
  color: white;
  height: auto;
  text-align: center;
  padding: 1.5rem 0 1rem 0; }
  footer .contenidoFooter .info {
    overflow: hidden;
    width: 25%;
    padding: 1em 3vw; }

footer address {
  background-color: #060606;
  text-align: center;
  color: white;
  padding: 0.625rem;
  margin-bottom: 0;
  /* para pisar a Bootstrap */ }

@media only screen and (max-width: 991px) {
  footer .contenidoFooter {
    flex-wrap: wrap; }
    footer .contenidoFooter .info {
      width: 50%; } }

@media only screen and (max-width: 575px) {
  footer .contenidoFooter .info {
    width: 100%;
    display: none; } }

/************************ Footer - Fin  ************************/
/***************************************************************/
/*********** Menu de navegacion horizontal con Bootstrap *******/
/************* para pisar a Bootstrap y personalizar ***********/
nav.navbar {
  padding: 0 0.5rem; }
  nav.navbar .navbar-toggler {
    border-color: white; }
    nav.navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("../Img/iconred.png");
      background-size: cover; }
  nav.navbar .navbar-nav .nav-link {
    border-left: 4px solid #b30404;
    margin: 0 1.25vw 0 0;
    padding: 0 0.5rem; }
    nav.navbar .navbar-nav .nav-link.activo {
      color: white;
      font-style: italic; }
  nav.navbar .navbar-nav .dropdown-menu {
    background-color: rgba(84, 84, 84, 0.6); }
    nav.navbar .navbar-nav .dropdown-menu a {
      color: white; }
      nav.navbar .navbar-nav .dropdown-menu a:hover {
        background-color: rgba(179, 4, 4, 0.5);
        color: white; }
  @media only screen and (max-width: 991px) {
    nav.navbar a img {
      height: 60px; } }

@media only screen and (max-width: 700px) and (orientation: landscape) {
  nav.navbar a img {
    height: 35px; }
  nav.navbar .navbar-toggler {
    padding: 2px;
    width: 35px; } }

/************************** Navbar - Fin ***********************/
/***************************************************************/
/***************************************************************/
/****************** Carousel Bootstrap - Inicio  ***************/
#carouselPrincipal ol.carousel-indicators {
  margin-bottom: 3.5vw; }
  #carouselPrincipal ol.carousel-indicators li {
    width: 5vw;
    opacity: .8; }
    #carouselPrincipal ol.carousel-indicators li.active {
      background-color: #b30404; }

#carouselPrincipal .carousel-caption {
  width: 25%;
  height: 25%;
  right: 2%;
  top: 8%;
  left: auto;
  font-size: 2rem; }

#carouselPrincipal .carousel-control-next-icon, #carouselPrincipal .carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%; }

#carouselPrincipal .carousel-control-prev-icon {
  background-image: url("../Img/chevron-izq.svg"); }

#carouselPrincipal .carousel-control-next-icon {
  background-image: url("../Img/chevron-der.svg"); }

@media only screen and (max-width: 1399px) {
  #carouselPrincipal ol.carousel-indicators {
    margin-bottom: 2vw; } }

@media only screen and (max-width: 575px) {
  #carouselPrincipal img {
    height: 290px;
    object-fit: cover; } }

@media only screen and (max-width: 500px) {
  #carouselPrincipal img {
    height: 250px;
    object-fit: cover; } }

/*********************** Carousel - Fin  ***********************/
/***************************************************************/
/***************************************************************/
/******************** Banner marcas - Inicio  ******************/
.marcas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  min-height: 7vw;
  align-items: center; }
  .marcas a {
    width: 10%;
    text-align: center; }
  .marcas img {
    width: 100%;
    max-width: 160px; }
  @media only screen and (max-width: 991px) {
    .marcas a {
      flex: 25%; }
    .marcas img {
      max-width: 110px; } }
  @media only screen and (max-width: 575px) {
    .marcas img {
      max-width: 70%; } }

/********************* Banner marcas - Fin  ********************/
/***************************************************************/
/***************************************************************/
/**************** Tarjetas Verticales - Inicio *****************/
/********************* Tarjetas destacados *********************/
.tarjeta {
  position: relative;
  overflow: hidden;
  background-color: white;
  text-align: center;
  color: black;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.5);
  margin: 2vw;
  height: 35vw;
  max-height: 500px;
  transition: all 0.5s;
  /*transicion de todas las propiedades*/ }
  .tarjeta:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.8); }
  .tarjeta .tarjeta__imagen, .tarjeta .tarjeta__imagen--secundaria {
    width: 100%;
    height: 20vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Img/destacado1.jpg"); }
  .tarjeta .tarjeta__imagen--secundaria {
    background-image: url("../Img/destacado2.jpg"); }
  .tarjeta .tarjeta__texto, .tarjeta .tarjeta__titulo {
    padding: 0.625rem 1.25rem; }
  @media only screen and (max-width: 1300px) {
    .tarjeta {
      min-height: 380px; } }
  @media only screen and (max-width: 767px) {
    .tarjeta .tarjeta__imagen, .tarjeta .tarjeta__imagen--secundaria {
      height: 30vw; }
    .tarjeta .tarjeta__imagen--secundaria {
      height: 45vw; } }

/********************** Tarjetas difusion **********************/
.tarjeta.tarjeta--tercios {
  width: 400px;
  height: 450px;
  margin: 2vw 0; }
  .tarjeta.tarjeta--tercios img {
    width: 100%;
    height: auto; }
  .tarjeta.tarjeta--tercios h2 {
    font-size: 1.5rem; }
  .tarjeta.tarjeta--tercios p {
    padding: 1rem 1.25rem 1rem 1.25rem; }
  @media only screen and (max-width: 1399px) {
    .tarjeta.tarjeta--tercios {
      width: 350px;
      height: 400px; } }
  @media only screen and (max-width: 1220px) {
    .tarjeta.tarjeta--tercios {
      width: 420px;
      height: 400px; }
      .tarjeta.tarjeta--tercios:nth-child(2) {
        order: 2;
        width: 700px;
        height: auto;
        margin: 2vw auto; }
        .tarjeta.tarjeta--tercios:nth-child(2) *:not(img) {
          display: none;
          margin: 0; } }
  @media only screen and (max-width: 991px) {
    .tarjeta.tarjeta--tercios:nth-child(2) {
      max-width: 420px;
      min-height: initial; }
    .tarjeta.tarjeta--tercios img {
      width: 100%;
      height: auto; } }
  @media only screen and (max-width: 575px) {
    .tarjeta.tarjeta--tercios, .tarjeta.tarjeta--tercios:nth-child(2) {
      width: 100%;
      height: auto;
      min-height: initial;
      margin: 2vw 0;
      max-width: initial; } }

/****************** Tarjetas Verticales - Fin ******************/
/***************************************************************/
/************************ Newsletter ***************************/
/*************** Incluye Formulario Bootstrap ******************/
.newsletter {
  width: 50%; }
  .newsletter form {
    padding-top: 0.9rem; }
    .newsletter form .input-group {
      width: 70%;
      margin: auto;
      margin-bottom: 1rem; }
      .newsletter form .input-group input[type="email"] {
        height: 2rem; }
  @media only screen and (max-width: 991px) {
    .newsletter {
      order: -1;
      width: 100%;
      padding-bottom: 2vh; }
      .newsletter .newsletter__titulo {
        font-size: 1rem; }
      .newsletter form .input-group {
        width: 55%; } }
  @media only screen and (max-width: 575px) {
    .newsletter form .input-group {
      width: 80%; } }

/********************** Newsletter - Fin ***********************/
/***************************************************************/
/********************** Redes sociales *************************/
/****** se uso grid para acomodar los iconos y el título *******/
.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 25%;
  align-items: start;
  justify-items: center; }
  .social :nth-child(1) {
    grid-area: 1 / 1 / 2 / 5; }
  .social :nth-child(2) {
    grid-area: 2 / 1 / 3 / 2; }
  .social :nth-child(3) {
    grid-area: 2 / 2 / 3 / 3; }
  .social :nth-child(4) {
    grid-area: 2 / 3 / 3 / 4; }
  .social :nth-child(5) {
    grid-area: 2 / 4 / 3 / 5; }
  .social img {
    width: 2.5rem; }
  @media only screen and (max-width: 991px) {
    .social {
      width: 50%; }
      .social .social__titulo {
        font-size: 1rem; } }
  @media only screen and (max-width: 575px) {
    .social {
      width: 100%;
      grid-template-rows: repeat(2, 1fr); }
      .social img {
        width: 30px; } }

/************************* Redes - Fin *************************/
/***************************************************************/
/***************************************************************/
/************************* Modal - Inicio **********************/
.modal .modal-content {
  background-color: #b9b8b8; }
  .modal .modal-content .modal-header h2 {
    font-size: 1.5rem; }
  .modal .modal-content .modal-body {
    padding: 0; }
    .modal .modal-content .modal-body .imagenTerminos {
      background: url("../Img/terminos.jpg") no-repeat top/cover;
      background-position: center;
      height: 35vw; }
    .modal .modal-content .modal-body article.terminos {
      width: 75%;
      margin: auto;
      background-color: #545454;
      text-align: center;
      padding: 1.5vh 3vw;
      color: white; }
      .modal .modal-content .modal-body article.terminos ol {
        padding: 0 3rem; }
      .modal .modal-content .modal-body article.terminos p {
        padding: 1rem;
        text-align: justify; }

@media only screen and (max-width: 991px) {
  .modal .modal-content .modal-body article.terminos {
    width: 100%;
    padding: 0.5vh 1vw; } }

/************************* Modal - Fin *************************/
/***************************************************************/
/***********************************************************************************/
/************************** Main de productos.html - Inicio ************************/
/*********************** Pagina con Grid en los desplegables ***********************/
/******************** Acordeón de productos - Inicio ********************/
main.productos {
  overflow: hidden;
  padding: 0 5vw; }

.card-header {
  background-image: url("../Img/carretera.jpg");
  background-repeat: no-repeat;
  background-size: 90vw 160vw;
  height: 32vw;
  align-items: center; }

.card:nth-child(1) .card-header {
  background-position: 0 0; }

.card:nth-child(2) .card-header {
  background-position: 0 -32vw; }

.card:nth-child(3) .card-header {
  background-position: 0 -64vw; }

.card:nth-child(4) .card-header {
  background-position: 0 -96vw; }

.card:nth-child(5) .card-header {
  background-position: 0 -128vw; }

.accordion .card-header h2 {
  width: 40rem;
  background-color: rgba(179, 4, 4, 0.3); }

.accordion .card-header button {
  color: white;
  font-size: 4rem;
  padding: 1rem 3rem;
  font-weight: 700;
  font-style: italic; }

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(179, 4, 4, 0.5); }

/*********************** Acordeón de productos - Fin ***********************/
/******** grids para agrupar los sub-productos (dentro de acordeón) ********/
.productos ul {
  list-style-type: none;
  display: grid;
  align-items: stretch;
  margin: 0;
  border-bottom: 0.5rem solid #b30404; }

.productos li {
  overflow: hidden;
  display: flex;
  align-items: stretch; }

.productos li div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  transition: filter 1.5s, transform 2.5s;
  /*transición de todas las propiedades*/
  font-size: 2rem;
  color: white;
  text-shadow: 0px 0px 5px black; }

.productos li:hover div {
  filter: initial;
  transform: scale(1.1);
  cursor: pointer; }

/************************ Galeria 4 ************************/
.galeria4 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 25vw 20vw;
  grid-template-areas: "casco		casco		casco		casco		lente		lente		lente" "protector	protector	mochila		mochila		mochila		mochila		mochila"; }

.galeria4 li:nth-child(1) {
  grid-area: casco; }

.galeria4 li:nth-child(2) {
  grid-area: lente; }

.galeria4 li:nth-child(3) {
  grid-area: mochila; }

.galeria4 li:nth-child(4) {
  grid-area: protector; }

/****** Imágenes de sección: Equipamineto ******/
#equipamiento li:nth-child(1) div {
  background-image: url("../Img/equipamiento_cascos.jpg"); }

#equipamiento li:nth-child(2) div {
  background-image: url("../Img/equipamiento_lentes.jpg"); }

#equipamiento li:nth-child(3) div {
  background-image: url("../Img/equipamiento_mochilas.jpg"); }

#equipamiento li:nth-child(4) div {
  background-image: url("../Img/equipamiento_protectores.jpg"); }

/************************ Galeria 5 ************************/
.galeria5 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 25vw repeat(2, 20vw);
  grid-template-areas: "anchoG5-1	anchoG5-1	anchoG5-1	anchoG5-1	medioG5-1	medioG5-1	medioG5-1" "plenoG5	plenoG5		plenoG5		plenoG5		plenoG5		plenoG5		plenoG5" "medioG5-2	medioG5-2	medioG5-2	anchoG5-2	anchoG5-2	anchoG5-2	anchoG5-2"; }

.galeria5 li:nth-child(1) {
  grid-area: anchoG5-1; }

.galeria5 li:nth-child(2) {
  grid-area: medioG5-1; }

.galeria5 li:nth-child(3) {
  grid-area: plenoG5; }

.galeria5 li:nth-child(4) {
  grid-area: medioG5-2; }

.galeria5 li:nth-child(5) {
  grid-area: anchoG5-2; }

/****** Imágenes de sección: Bicicletas ******/
#bicicletas li:nth-child(1) div {
  background-image: url("../Img/bicicletas_mtb.jpg"); }

#bicicletas li:nth-child(2) div {
  background-image: url("../Img/bicicletas_ruta.jpg"); }

#bicicletas li:nth-child(3) div {
  background-image: url("../Img/bicicletas_eBike.jpg"); }

#bicicletas li:nth-child(4) div {
  background-image: url("../Img/bicicletas_urbana.jpg"); }

#bicicletas li:nth-child(5) div {
  background-image: url("../Img/bicicletas_infantil.jpg"); }

/****** Imágenes de sección: Accesorios ******/
#accesorios li:nth-child(1) div {
  background-image: url("../Img/accesorios_electronica.jpg"); }

#accesorios li:nth-child(2) div {
  background-image: url("../Img/accesorios_rodillos.jpg"); }

#accesorios li:nth-child(3) div {
  background-image: url("../Img/accesorios_portabicis.jpg"); }

#accesorios li:nth-child(4) div {
  background-image: url("../Img/accesorios_mantenimiento.jpg"); }

#accesorios li:nth-child(5) div {
  background-image: url("../Img/accesorios_complementos.jpg"); }

/************************ Galeria 6 ************************/
.galeria6 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 25vw) 20vw;
  grid-template-areas: "anchoG6-1	anchoG6-1	anchoG6-1	anchoG6-1	medioG6-1	medioG6-1	medioG6-1" "medioG6-2	medioG6-2	medioG6-2	anchoG6-2	anchoG6-2	anchoG6-2	anchoG6-2" "anchoG6-3	anchoG6-3	anchoG6-3	anchoG6-3	anchoG6-3	chicoG6		chicoG6"; }

.galeria6 li:nth-child(1) {
  grid-area: anchoG6-1; }

.galeria6 li:nth-child(2) {
  grid-area: medioG6-1; }

.galeria6 li:nth-child(3) {
  grid-area: medioG6-2; }

.galeria6 li:nth-child(4) {
  grid-area: anchoG6-2; }

.galeria6 li:nth-child(5) {
  grid-area: anchoG6-3; }

.galeria6 li:nth-child(6) {
  grid-area: chicoG6; }

/****** Imágenes de sección: Componentes ******/
#componentes li:nth-child(1) div {
  background-image: url("../Img/componentes_cuadros.jpg"); }

#componentes li:nth-child(2) div {
  background-image: url("../Img/componentes_transmision.jpg"); }

#componentes li:nth-child(3) div {
  background-image: url("../Img/componentes_frenos.jpg"); }

#componentes li:nth-child(4) div {
  background-image: url("../Img/componentes_ruedas.jpg"); }

#componentes li:nth-child(5) div {
  background-image: url("../Img/componentes_cubiertas.jpg"); }

#componentes li:nth-child(6) div {
  background-image: url("../Img/componentes_otros.jpg"); }

/****** Imágenes de sección: Indumentaria ******/
#indumentaria li:nth-child(1) div {
  background-image: url("../Img/indumentaria_calzado.jpg"); }

#indumentaria li:nth-child(2) div {
  background-image: url("../Img/indumentaria_remeras.jpg"); }

#indumentaria li:nth-child(3) div {
  background-image: url("../Img/indumentaria_calzas.jpg"); }

#indumentaria li:nth-child(4) div {
  background-image: url("../Img/indumentaria_maillots.jpg"); }

#indumentaria li:nth-child(5) div {
  background-image: url("../Img/indumentaria_camperas.jpg"); }

#indumentaria li:nth-child(6) div {
  background-image: url("../Img/indumentaria_complementos.jpg"); }

/************************** Main de productos.html - Fin **************************/
/**********************************************************************************/
/**********************************************************************************/
/************************ Main de servicios.html - Inicio *************************/
/******************************* Diseño usando Grid *******************************/
/************* Grid principal *************/
main.servicios {
  /*grid principal de 4 fila. Las 3 finales con altura mínima*/
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, minmax(250px, auto));
  grid-template-areas: "reparaciones" "bodyGeometry" "cursos";
  grid-row-gap: 4vw;
  padding: 3vw 5vw 3vw 5vw; }

.reparaciones {
  grid-area: reparaciones; }

.bodyGeometry {
  grid-area: bodyGeometry; }

.cursos {
  grid-area: cursos; }

/************* Grid de articulos *************/
article.reparaciones, article.cursos {
  /*grids de 2 columnas 2/3 1/3*/
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center; }

article.bodyGeometry {
  /*grids de 2 columnas 1/3 2/3*/
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 0 -5vw 0 -5vw;
  padding: 3vw 5vw 3vw 5vw; }

.servicios article img {
  width: 100%;
  border-right: 1rem solid #b30404; }

.servicios .bodyGeometry img {
  order: 1;
  /*para que aparezca después del texto sin cambiar orden html*/
  border-left: 1rem solid #b30404;
  border-right: none; }

.servicios article div {
  padding-left: 0.625rem; }

.servicios .bodyGeometry div {
  padding-right: 0.625rem; }

.servicios article p {
  padding: 0.3rem 0; }

/************************ Main de servicios.html - Fin *****************************/
/***********************************************************************************/
/************************************************************************************/
/************************** Main de noticias.html - Inicio *************************/
/****************************** Se uso grid y flexbox ******************************/
main.noticias {
  overflow: hidden;
  padding: 0 5vw; }

main.noticias h2 {
  font-size: 4rem;
  font-weight: 800;
  margin-top: 2rem;
  font-style: italic;
  border-bottom: 3px solid #b30404; }

/***** Sección Videos tutoriales ****/
main .videos h4 {
  font-size: 1.5rem;
  font-weight: 800; }

.videos a.btn {
  background-color: #b30404;
  border-color: #b30404; }

/**************** Sección Eventos ***************/
#eventos, #app {
  /*grids de 2 columnas 1/3 2/3*/
  margin: 0 -5vw 0 -5vw;
  padding: 3vw 5vw 4vw 5vw; }

.eventos, .app {
  text-align: right;
  overflow: hidden; }

.eventos p, .competencias p, .app p {
  margin: 1rem 0 1rem auto;
  text-align: justify; }

.eventos h3 {
  text-align: center;
  font-weight: 500; }

.noticias .card, .noticias .card-footer {
  background-color: transparent;
  border-radius: unset; }

.eventos .card-body {
  border: 0.5rem solid #b30404;
  background: #b30404;
  background: linear-gradient(135deg, #b30404 0%, #545454 100%); }

.eventos .card-body h4 {
  font-size: 1.5rem;
  font-weight: 700; }

.eventos p span img, .competencias p span img {
  margin-right: .3rem;
  vertical-align: bottom; }

/**************** Sección Competencias ***************/
.competencias .card-header {
  background-size: cover;
  height: 12rem; }

.competencias .card-header.ruta {
  background-image: url("../Img/competencias_tarjeta_ruta.jpg"); }

.competencias .card-header.mtb {
  background-image: url("../Img/competencias_tarjeta_mtb.jpg"); }

.competencias .card-header.bmx {
  background-image: url("../Img/competencias_tarjeta_bmx.jpg"); }

.competencias .card-body {
  background: linear-gradient(135deg, #b30404 0%, #545454 100%);
  color: White; }

/********************** Seccion App *********************/
.app div img {
  width: 100%;
  object-fit: cover; }

/********** Aside con informacion del tiempo ***********/
main.noticias aside h2, main.noticias aside h3 {
  text-align: center;
  border: none; }

.noticias aside div {
  margin: auto; }

.noticias aside div.dias7 {
  display: block; }

.noticias aside div.dias4, .noticias aside div.dias2 {
  display: none; }

/******************************** Seccion Premio ******************************/
/*** imagen de todo el ancho con texto interior centrado por flexbox ***/
main.noticias .imagenPremio {
  background: url("../Img/tour.jpg") no-repeat top/cover;
  width: 100vw;
  margin-left: -5vw;
  display: flex;
  justify-content: center;
  align-items: center; }

main.noticias .imagenPremio h2 {
  color: white;
  text-shadow: 5px 5px 10px black;
  animation-name: latido;
  /*** Animación "latido" ***/
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

/*** Fotogramas de animación latido ***/
@keyframes latido {
  0% {
    transform: scale(0.8, 0.8);
    color: white; }
  40% {
    color: white; }
  100% {
    transform: scale(1.3, 1.3);
    color: #fcd806; } }

.premio {
  text-align: center;
  margin-bottom: 3rem; }

.premio h2 span {
  font-weight: 500;
  font-size: 0.75em;
  font-style: normal;
  text-transform: lowercase; }

.premio h2 {
  border: none; }

.premio div img {
  width: 100%;
  object-fit: cover; }

/************************** Main de noticias.html - Fin ****************************/
/***********************************************************************************/
/***********************************************************************************/
/************************** Main de contacto.html - Inicio ************************/
/***********************************************************************************/
/************** formulario contacto ************/
.form-control {
  display: inline-block;
  /* para pisar a Bootstrap */ }

.formulario {
  background-image: url("../Img/contacto.jpg");
  background-size: cover;
  background-position: 32%;
  color: white;
  padding: 0.625rem;
  text-shadow: 2px 2px 2px black;
  font-size: 1.2rem; }

.formulario form {
  width: 45%;
  min-width: 39rem; }

.formulario fieldset {
  padding: 0.625rem; }

.formulario fieldset fieldset {
  margin: 1rem 0;
  border: 2px solid #b30404;
  font-style: italic; }

input, textarea, select {
  font-style: italic; }

.formulario .input-group-text {
  text-shadow: none;
  font-weight: 500;
  background-color: #b30404;
  color: white;
  border: none;
  padding: 0 1rem; }

input[type="submit"], input[type="reset"] {
  width: 8vw;
  min-width: 7rem;
  height: 2rem;
  background-color: #b30404;
  color: white;
  border: none;
  border-radius: .25rem;
  font-weight: 500;
  letter-spacing: .07rem;
  font-style: normal;
  font-size: 1rem; }

select.form-control, input[type=date] {
  width: 15rem; }

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(179, 4, 4, 0.3);
  border-color: #b30404; }

/****************** Sucursales ****************/
/************* Diseño usando Grid*************/
section.sucursales {
  /*grid de 3 columnas y 3 filas*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
  grid-template-areas: "tituloSuc tituloSuc tituloSuc" "palermo laPlata marDelPlata" "mapa mapa localizacion";
  grid-gap: 1.5rem;
  padding: 0 5vw 5vh 5vw; }

.sucursales h2 {
  grid-area: tituloSuc;
  text-align: center;
  padding-top: 1.5rem; }

.palermo {
  grid-area: palermo; }

.laPlata {
  grid-area: laPlata; }

.marDelPlata {
  grid-area: marDelPlata; }

.mapa {
  grid-area: mapa; }

.sucursales .localizacion {
  grid-area: localizacion;
  align-self: center;
  /*este se alinea al centro a diferencia del resto*/
  background-color: transparent; }

#carouselSucursales {
  display: none; }

.sucursales div {
  text-align: center;
  position: relative; }

.sucursales div h3 {
  background-color: rgba(33, 33, 33, 0.75);
  font-weight: 500;
  margin: 0;
  padding: .75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.sucursales img {
  width: 100%; }

.sucursales iframe {
  width: 100%;
  height: 100%; }

.localizacion * {
  text-align: left;
  padding: 0.3rem 0; }

.localizacion p span img {
  width: 1rem;
  margin-right: .3rem;
  vertical-align: bottom; }

.localizacion p span {
  display: inline-block;
  margin-right: .5rem; }

/************************** Main de contacto.html - Fin ****************************/
/***********************************************************************************/
/********************************************************************************/
/********************************* Media querys**********************************/
/********************************************************************************/
@media only screen and (max-width: 1300px) {
  main.noticias .imagenPremio h2 {
    font-size: 3rem; } }

@media only screen and (max-width: 1220px) {
  .accordion .card-header h2 {
    width: 35rem; }
  .accordion .card-header button {
    font-size: 3rem; }
  .servicios article h2 {
    font-size: 1.5rem; }
  .sucursales div h3 {
    font-size: 1rem; } }

@media only screen and (max-width: 991px) {
  main.noticias .tituloBoxClaro, main.contacto .tituloBoxClaro {
    font-size: 1.3rem; }
  .accordion .card-header h2 {
    width: 28rem; }
  .accordion .card-header button {
    font-size: 2.5rem;
    padding: 1rem 2rem; }
  .productos li div {
    font-size: 1.5rem; }
  article.reparaciones, article.cursos, article.bodyGeometry {
    /*grids de 2 filas*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    text-align: center;
    grid-row-gap: 1rem; }
  .servicios article img {
    border: none;
    border-bottom: 1rem solid #b30404; }
  .servicios .bodyGeometry img {
    order: 0;
    border: none;
    border-bottom: 1rem solid #b30404; }
  main.noticias h2 {
    font-size: 3.5rem; }
  .noticias aside div.dias4 {
    display: block; }
  .noticias aside div.dias7, .noticias aside div.dias2 {
    display: none; }
  main.noticias .imagenPremio h2 {
    font-size: 2.5rem; }
  section.sucursales {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "tituloSuc			tituloSuc" "carouselSucursales	carouselSucursales" "mapa				localizacion"; }
  .sucursales > .palermo, .sucursales > .laPlata, .sucursales > .marDelPlata {
    display: none; }
  #carouselSucursales {
    grid-area: carouselSucursales;
    display: initial;
    width: 75%;
    margin: auto;
    margin-bottom: 2rem; }
  #carouselSucursales .carousel-indicators li {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0 .5rem; }
  .sucursales div h3 {
    font-size: 2rem;
    padding: 1rem; }
  .localizacion p span {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .productos li div {
    font-size: 1.25rem; }
  main.noticias h2 {
    font-size: 2.5rem; }
  main.noticias .imagenPremio h2 {
    font-size: 2rem; }
  #carouselSucursales {
    width: 100%;
    margin-bottom: 0; } }

@media only screen and (max-width: 575px) {
  main.noticias .imagenPremio {
    height: 250px; }
  main.noticias h2 {
    font-size: 2rem; }
  main.noticias h4 {
    font-size: 1.2rem; }
  .formulario form {
    width: 100%;
    min-width: unset;
    background-color: rgba(155, 155, 155, 0.4); }
  .formulario {
    background-image: url("../Img/contacto_vert.jpg");
    padding: 0; } }

@media only screen and (max-width: 500px) {
  .accordion .card-header h2 {
    width: 18rem; }
  .accordion .card-header button {
    font-size: 1.6rem;
    padding: .8rem 1rem; }
  .productos li div {
    font-size: .8rem; }
  .noticias aside div.dias2 {
    display: block; }
  .noticias aside div.dias7, .noticias aside div.dias4 {
    display: none; }
  main.noticias .imagenPremio h2 {
    font-size: 1.25rem; }
  .custom-control-label {
    width: 85%; }
  section.sucursales {
    grid-template-rows: auto 1fr 1.5fr; }
  .sucursales .localizacion h4 {
    font-size: 1.1rem; }
  .sucursales .localizacion p {
    font-size: .8rem; } }
