/**************************************************************/
/**************** Formulario de contacto - Inicio *************/
.formulario {
	@include cover(contacto, 32%);
	color: white;
	padding: 0.625rem;
	@include sombraTexto(black, 2px, 2px, 2px);
	font-size: 1.2rem;
	form {
		background-color: rgba(black, .2);
		border-radius: 1rem;
		width: 45%;
		min-width: 39rem;
		fieldset {
			padding: 0.625rem;
			input, textarea, select {
				font-style: italic;
				.form-control {
					display: inline-block; //para pisar a Bootstrap
					&:focus {
						@include sombraCaja(rgba($rojoMarca, .3), 0, 0, 0, 0.2rem);
						border-color: $rojoMarca;
					}
				}
			}
			input {
				&[type="submit"], &[type="reset"] {
					@extend %botonFormulario;
				}
				&[type=date] {
					width: 15rem;
				}
			}
			.input-group-text {
				text-shadow: none;
				font-weight: 500;
				background-color: $rojoMarca;
				color: white;
				border: none;
				padding: 0 1rem;
			}
			select {
				&.form-control {
					width: 15rem;
				}
			}
			fieldset {
				margin: 1rem 0;
				border: 2px solid $rojoMarca;
				font-style: italic;
			}
		}
	}
	@include responsive(xs) {
		background-image: url("../img/contacto_vert.jpg");
		padding: 0;
		form {
			width: 100%;
			border-radius: 0;
			min-width: initial;
			background-color: rgba(black,0.4);	
		}
	}
}
/****************** Formulario de contacto - Fin **************/
/**************************************************************/