/***************************************************************/
/************************ Header - Inicio **********************/
header {
	background: $tonoClaro;
	position: sticky;
	top: 0;
	z-index: 1020;
	@include sombraCaja($color: rgba($tonoMuyOscuro, 0.4));
	background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(84,84,84,1) 75%, rgba(185,184,184,1) 100%);
	font-size: 1.4rem;
}
/************************** Header - Fin ***********************/
/***************************************************************/