/**************************************************************/
/*************** Main de noticias.html - Inicio ***************/
/******************* Se uso grid y flexbox ********************/
main.noticias {
	@extend %mainComun;
	overflow: hidden;
	padding: 0 5vw;
	h2 {
		font: {
			size: 4rem;
			weight: 800;
			style: italic;
		}
		margin-top: 2rem;
		@include borde(abajo, 3px, $rojoMarca);
	}
	//Sección Videos tutoriales
	.videos {
		h4 {
			font-size: 1.5rem;
			font-weight: 800;
		}
		a.btn {
			background-color: $rojoMarca;
			border-color: $rojoMarca;
		}
	} 
	//Sección Eventos y otros compartidos
	#eventos, #app { 
		margin: 0 -5vw 0 -5vw;
		padding: 3vw 5vw 4vw 5vw;
		@extend %fondoOscuro;
		&>div {
			overflow: hidden;
		}
	}
	.eventos, .competencias, .app {
		p {
			margin: 1rem 0 1rem auto;
			text-align: justify;
			span img {
				margin-right: .3rem;
				vertical-align: bottom;
			}
		}
	}
	.card, .card-footer {
		background-color: transparent;
		border-radius: unset;
	}
	.eventos {
		h3 {
			@extend %tituloBoxClaro;
			text-align: center;
			font-weight: 500;
		}
		.card-body {
			@include borde(todo, .5rem, $rojoMarca);
			background: rgb(179,4,4);
			background: linear-gradient(135deg, rgba(179,4,4,1) 0%, rgba(84,84,84,1) 100%);
			h4 {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}
	}
	//Sección Competencias 
	.competencias {
		.card-header {
			@extend %imagenCover;
			height: 12rem;
			&.ruta {
				background-image: url("../img/competencias_tarjeta_ruta.jpg");
			}

			&.mtb {
				background-image: url("../img/competencias_tarjeta_mtb.jpg");
			}

			&.bmx {
				background-image: url("../img/competencias_tarjeta_bmx.jpg");
			}
		}
		.card-body {
			background: linear-gradient(135deg, rgba(179,4,4,1) 0%, rgba(84,84,84,1) 100%);
			color: White;
		}
	}
	//Sección App
	.app {
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	//Aside del tiempo
	aside {
		h2, h3 {
			text-align: center;
			border: none;
		}
		div {
			margin:auto;
			&.dias7 {
				display: block;
			}
			&.dias4, &.dias2 {
				display: none;
			}
		}
	}
	//Sección Premio
	.premio {
		text-align: center;
		margin-bottom: 3rem;
		h2 {
			border: none; 
			span {
				font-weight: 500;
				font-size: 0.75em;
				font-style: normal;
				text-transform: lowercase;
			}
		}
		div img {
			width: 100%;
			object-fit: cover;
		}
	}
	@include responsive(md) {
		h2 {
			font-size: 3.5rem;
		}
		aside {
			div {
				&.dias4 { 
					display: block;
				}
				&.dias7, &.dias2 {
					display: none;
				}
			}
		}
	}
	@include responsive(sm) {
		h2 {
			font-size: 2.5rem;
		}
	}
	@include responsive(xs) {
		h2 {
			font-size: 2rem;
		}
		h4 {
			font-size: 1.2rem;
		}
	}
	@include responsive(500px) {
		aside {
			div {
				&.dias2 { 
					display: block;
				}
				&.dias7, &.dias4 {
					display: none;
				}
			}
		}
	}
}
/*************** Main de noticias.html - Fin ******************/
/**************************************************************/