/**************************************************************/
/**************** Main de contacto.html - Inicio **************/
main.contacto {
	@extend %mainComun;
	//********* Sucursales ********
	//**** Diseño usando Grid  ****
	.sucursales { //grid de 3 columnas y 3 filas
		display: grid;
		grid-template: {
			columns: repeat(3, 1fr);
			rows: auto repeat(2, 1fr);
			areas: 
			"tituloSuc tituloSuc tituloSuc"
			"palermo laPlata marDelPlata"
			"mapa mapa localizacion";
		}
		grid-gap: 1.5rem;
		padding: 0 5vw 5vh 5vw;
	
		h2 {
			grid-area: tituloSuc;
			text-align: center;
			padding-top: 2rem;
			font-size: 3rem;
			color:white;
			@include sombraTexto($tonoOscuro, .15rem, .15rem, 2px);
		}
		
		.palermo {
			grid-area: palermo;
		}

		.laPlata {
			grid-area: laPlata;
		}

		.marDelPlata {
			grid-area: marDelPlata;
		}
		
		.mapa {
			grid-area: mapa;
			position: relative;
			iframe {
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				left: 0;
			}
			
			#mapa1 {
				visibility: hidden;
				&.activo {
					visibility: visible;
				}
			}
			
			#mapa2 {
				visibility: hidden;
				&.activo {
					visibility: visible;
				}
			}
			
			#mapa3 {
				visibility: hidden;
				&.activo {
					visibility: visible;
				}
			}
		}
		
		.localizacion {
			grid-area: localizacion;
			align-self: center; //este se alinea al centro a diferencia del resto
			background-color: transparent;

			& > div {
				cursor: pointer;
				text-align: left;

				* {
					padding: 0.3rem 0;
				}
				
				p span {
					display: inline-block;
					margin-right: .5rem;

					img {
						width: 1rem;
						margin-right: .3rem;
						vertical-align: bottom;
					}
				}

				h4 {
					background-color: #545454;
					color: white;
					padding: .5rem 1rem;
					border-radius: .4rem;
				}

				&:hover {
					color: white;
					h4 {
						background-color: #b30404;
					}
				}
			}
		}
		
		div {
			text-align: center;
			position: relative;
		}
		
		.sucursales__titulo {
			background-color: rgba($tonoOscuro, .75);
			font-weight: 500;
			color: white;
			margin: 0;
			padding: .75rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		
		@include responsive(lg) {
			.sucursales__titulo {
				font-size: 1rem;
			}
		}
		
		@include responsive(md) {
			grid-template-columns: 2fr 1fr;
			grid-template-areas: 
			"tituloSuc			tituloSuc"
			"carouselSucursales	carouselSucursales"
			"mapa				localizacion";

			& > .palermo, & > .laPlata, & > .marDelPlata {
				display: none;
			}
			
			.sucursales__titulo {
				font-size: 2rem;
				padding: 1rem; 
			}
			
			.localizacion {
				& > div {
					p span {
						width: 100%;
					}
				}
			}
		}
		
		@include responsive(500px) {
			grid-template-rows: auto 1fr 1.5fr;

			h2 {
				font-size: 2.5rem;
			}
			
			.localizacion {
				& > div {
					h4 {
						padding: .5rem; 
						font-size: .95rem;
					}

					p {
						font-size: .8rem;
					}
				}
			}
		}
	}
}
/**************** Main de contacto.html - Fin *****************/
/**************************************************************/