/***************************************************************/
/*************** Main de servicios.html - Inicio ***************/

/************* Grid principal *************/
main.servicios { /*grid principal de 4 fila. Las 3 finales con altura mínima*/
	@extend %mainComun;
	display: grid;
	grid-template: {
		columns: auto;
		rows: repeat(3, minmax(250px,auto)); 
		areas: "reparaciones" "bodyGeometry" "cursos";
	}
	grid-row-gap: 4vw;
	padding: 3vw 5vw 3vw 5vw;
	h2 {
		@include sombraTexto(White, .1rem, .1rem, 2px);

	}
	.reparaciones {
		grid-area: reparaciones;	
	}
	.bodyGeometry {
		@extend %fondoOscuro;
		grid-area: bodyGeometry;
		h2 {
			@include sombraTexto($tonoOscuro, .1rem, .1rem, 2px);

		}	
	}
	.cursos {
		grid-area: cursos;	
	}
	@include responsive(lg) {
		h2 {
			font-size: 1.5rem;
		}
	}
}
/************** Main de servicios.html - Fin *******************/
/***************************************************************/