/**************************************************************/
/*************** Main de noticias.html - Inicio ***************/
/******************* Se uso grid y flexbox ********************/
main.noticias {
	@extend %mainComun;
	overflow: hidden;
	padding: 0 5vw;
	h2 {
		font: {
			size: 4rem;
			weight: 800;
			style: italic;
		}
		margin-top: 2rem;
		@include borde(abajo, 3px, $rojoMarca);
	}
	//Sección Videos tutoriales
	.videos {
		h4 {
			font-size: 1.5rem;
			font-weight: 800;
		}
		a.btn {
			background-color: $rojoMarca;
			border-color: $rojoMarca;
		}
	} 
	//Sección Eventos y otros compartidos
	#eventos, #app { 
		margin: 0 -5vw 0 -5vw;
		padding: 3vw 5vw 4vw 5vw;
		@extend %fondoOscuro;
		&>div {
			overflow: hidden;
		}
	}
	.eventos, .competencias, .app {
		p {
			margin: 1rem 0 1rem auto;
			text-align: justify;
			span img {
				margin-right: .3rem;
				vertical-align: bottom;
			}
		}
	}
	.card, .card-footer {
		background-color: transparent;
		border-top-color: transparent;
		border-radius: unset;
	}
	.eventos {
		h3 {
			@extend %tituloBoxClaro;
			text-align: center;
			font-weight: 500;
		}
		.dosCaras {
			.card-body {
				@include borde(todo, .5rem, $rojoMarca);
				position: relative;
				background: rgb(179,4,4);
				background-image: linear-gradient(135deg, rgba(179,4,4,1) 0%, rgba(84,84,84,1) 100%);
				
				&.cara {
					height: 250px;
					-webkit-transition: all 0.8s ease;
					transition: all 0.8s ease;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					overflow: hidden;
					&.caraTrasera {
						-webkit-transform: rotateY(180deg);
						background-image: linear-gradient(135deg, rgba(84,84,84,1) 0%, rgba(179,4,4,1) 100%);
						transform: rotateY(180deg);
						.btn {
							margin-top: 50px;
							padding: 8px 16px;
							font-size: 20px;
						}
						strong {
							font-size: 1.5rem;
						}
					}
				}
				
				h4 {
					font-size: 1.5rem;
					font-weight: 700;
				}

				strong {
					position: absolute;
					bottom: 1rem;
					right: 1rem;
				}
			}

			.card-footer {
				margin-top: 250px;
			}

			&:hover {
				.card-body.cara {
					&.caraFrontal {
						-webkit-transform: rotateY(-180deg);
						transform: rotateY(-180deg);
					}

					&.caraTrasera {
						-webkit-transform: rotateY(0);
						transform: rotateY(0);
					}
				}
			}
		}
	}

	//Sección Competencias 
	.competencias {
		.dosCaras {
			.cara {
				height: 470px;
				-webkit-transition: all 0.8s ease;
				transition: all 0.8s ease;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				overflow: hidden;
				&.caraFrontal {
					.card-header {
						@extend %imagenCover;
						height: 40%;
						&.ruta {
							background-image: url("../img/competencias_tarjeta_ruta.jpg");
						}

						&.mtb {
							background-image: url("../img/competencias_tarjeta_mtb.jpg");
						}

						&.bmx {
							background-image: url("../img/competencias_tarjeta_bmx.jpg");
						}
					}
					.card-body {
						height: 60%;
						background-image: linear-gradient(135deg, rgba(179,4,4,1) 0%, rgba(84,84,84,1) 100%);
						color: white;
					}
				}
				strong {
					position: absolute;
					bottom: 1rem;
					right: 1rem;
				}
				&.caraTrasera {
					-webkit-transform: rotateY(180deg);
					transform: rotateY(180deg);
					.card-body {
						height: 100%;
						color: white;
						font-weight: 900;
						letter-spacing: 0.1rem;
						text-shadow: 3px 3px black;
						&.ruta {
							@include cover(competencias_tarjeta_ruta);
						}

						&.mtb {
							@include cover(competencias_tarjeta_mtb);
						}

						&.bmx {
							@include cover(competencias_tarjeta_bmx);
						}
						h4 {
							font-size: 1.5rem;
							font-weight: 900;
						}
						.btn {
							margin-top: 180px;
							background-color: $rojoMarca;
							padding: 8px 16px;
							font-size: 20px;
							text-shadow: none;
							&:hover {
								background-color: darken($rojoMarca, 10%);
							}
						}
						strong {
							font-size: 1.5rem;
						}
					}
					
				}
			}
			.card-footer {
				margin-top: 470px;
			}

			&:hover {
				.cara {
					&.caraFrontal {
						-webkit-transform: rotateY(-180deg);
						transform: rotateY(-180deg);
					}

					&.caraTrasera {
						-webkit-transform: rotateY(0);
						transform: rotateY(0);
					}
				}
			}
		}
	}

	//Sección App
	.app {
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	//Aside del tiempo
	aside {
		h2, h3 {
			text-align: center;
			border: none;
		}
		div {
			margin:auto;
			&.dias7 {
				display: block;
			}
			&.dias4, &.dias2 {
				display: none;
			}
		}
	}

	//Sección Premio
	.premio {
		text-align: center;
		margin-bottom: 3rem;
		h2 {
			border: none; 
			span {
				font-weight: 500;
				font-size: 0.75em;
				font-style: normal;
				text-transform: lowercase;
			}
		}
		div img {
			width: 100%;
			object-fit: cover;
		}
	}

	@include responsive(md) {
		h2 {
			font-size: 3.5rem;
		}
		aside {
			div {
				&.dias4 { 
					display: block;
				}
				&.dias7, &.dias2 {
					display: none;
				}
			}
		}
	}

	@include responsive(sm) {
		h2 {
			font-size: 2.5rem;
		}
	}

	@include responsive(xs) {
		h2 {
			font-size: 2rem;
		}
		h4 {
			font-size: 1.2rem;
		}
		.eventos {
			.dosCaras {
				.card-body {
					&.cara {
						height: 210px;
						&.caraTrasera {
							.btn {
								margin-top: 40px;
								font-size: 16px;
							}
						}
						.card-footer {
							margin-top: 210px;
						}
					}
				}
			}
		}
		.competencias {
			.dosCaras {
				.cara {
					height: 400px;
					&.caraTrasera {
						.card-body {
							.btn {
								margin-top: 130px;
								font-size: 16px;
							}
						}
					}
				}
				.card-footer {
					margin-top: 400px;
				}
			}
		}
	}

	@include responsive(500px) {
		aside {
			div {
				&.dias2 { 
					display: block;
				}
				&.dias7, &.dias4 {
					display: none;
				}
			}
		}
	}
}
/*************** Main de noticias.html - Fin ******************/
/**************************************************************/