/***************************************************************/
/************* Carousel Principal Bootstrap - Inicio  **********/
#carouselPrincipal {
	ol.carousel-indicators {
		margin-bottom: 3.5vw;
		li {
			width: 5vw;
			opacity: .8;
			&.active {
				background-color: $rojoMarca;
			}
		}
	}
	.carousel-caption {
		width: 25%;
		height: 25%;
		right: 2%;
		top: 8%;
		left: auto;
		font-size: 2rem;
	}
	.carousel-control-next-icon, .carousel-control-prev-icon {
		width: 3rem;
		height: 3rem;
		background-color: white;
		border-radius: 50%;
	}
	.carousel-control-prev-icon {
		background-image: url("../img/chevron-izq.svg");
	}
	.carousel-control-next-icon {
		background-image: url("../img/chevron-der.svg");
	}
	@include responsive(xl) {
		ol.carousel-indicators {
			margin-bottom: 2vw;
		}	
	}
	@include responsive(xs) {
		img {
			height: 290px;
			object-fit: cover;
		}	
	}
	@include responsive(500px) {
		img {
			height: 250px;
			object-fit: cover;
		}	
	}
}
/************** Carousel Principal Bootstrap - Fin *************/
/***************************************************************/