/**************************************************************/
/************ Grids en Acordeon de Productos - Inicio  ********/
.productos ul {
	list-style-type: none;
	display: grid;
	align-items: stretch;
	margin: 0;
	li {
		overflow: hidden;
		display: flex;
		align-items: stretch;
		div {
			@include cover();
			flex: 1;
			@include flex($justificado: centro);
			align-items: center;
			filter: grayscale(100%);
			transition: filter 1.5s, transform 2.5s; /*transición de todas las propiedades*/
			font-size: 2.4rem;
			color: white;
			@include sombraTextoTotal($tonoMuyOscuro);
		}
		&:hover div {
			filter: initial;
			transform: scale(1.1);
			cursor: pointer;
		}
	}
	@include responsive(1300px) {
		li {
			div{
				font-size: 2.6rem;
			}
		}
	}
	@include responsive(lg) {
		li {
			div{
				font-size: 2.1rem;
			}
		}
	}
	@include responsive(md) {
		li {
			div{
				font-size: 1.65rem;
			}
		}
	}
	@include responsive(sm) {
		li {
			div{
				font-size: 1.25rem;
			}
		}
	}
	@include responsive(500px) {
		li {
			div{
				font-size: .8rem;
			}
		}
	}
}
/***************************************************/
/******************** Galeria 4 ********************/
.galeria4 {
	grid-template: {
		columns:repeat(7,1fr);
		rows: 25vw 20vw;
		areas:
		"casco		casco		casco		casco		lente		lente		lente"
		"protector	protector	mochila		mochila		mochila		mochila		mochila";
	}
	li {
		&:nth-child(1) {
			grid-area: casco;
		}
		&:nth-child(2) {
			grid-area: lente;
		}
		&:nth-child(3) {
			grid-area: mochila;
		}
		&:nth-child(4) {
			grid-area: protector
		}
	}
}
/****** Imágenes de sección: Equipamiento ******/
#equipamiento {
	li {
		&:nth-child(1) div {
			background-image: url("../img/equipamiento_cascos.jpg");
		}
		&:nth-child(2) div {
			background-image: url("../img/equipamiento_lentes.jpg");
		}
		&:nth-child(3) div {
			background-image: url("../img/equipamiento_mochilas.jpg");
		}
		&:nth-child(4) div {
			background-image: url("../img/equipamiento_protectores.jpg");
		}
	}
}

/***************************************************/
/******************** Galeria 5 ********************/
.galeria5 {
	grid-template: {
	columns: repeat(7,1fr);
	rows: 25vw repeat(2,20vw);
	areas: /*nombres genericos porque la uso en más de un caso*/
	"anchoG5-1	anchoG5-1	anchoG5-1	anchoG5-1	medioG5-1	medioG5-1	medioG5-1"
	"plenoG5	plenoG5		plenoG5		plenoG5		plenoG5		plenoG5		plenoG5"
	"medioG5-2	medioG5-2	medioG5-2	anchoG5-2	anchoG5-2	anchoG5-2	anchoG5-2";
	}
	li {
		&:nth-child(1) {
			grid-area: anchoG5-1;
		}
		&:nth-child(2) {
			grid-area: medioG5-1;
		}
		&:nth-child(3) {
			grid-area: plenoG5;
		}
		&:nth-child(4) {
			grid-area: medioG5-2;
		}
		&:nth-child(5) {
			grid-area: anchoG5-2;
		}
	}
}

/****** Imágenes de sección: Bicicletas ******/
#bicicletas {
	li {
		&:nth-child(1) div {
			background-image: url("../img/bicicletas_mtb.jpg");
		}
		&:nth-child(2) div {
			background-image: url("../img/bicicletas_ruta.jpg");
		}
		&:nth-child(3) div {
			background-image: url("../img/bicicletas_eBike.jpg");
		}
		&:nth-child(4) div {
			background-image: url("../img/bicicletas_urbana.jpg");
		}
		&:nth-child(5) div {
			background-image: url("../img/bicicletas_infantil.jpg");
		}
	}
}
/****** Imágenes de sección: Accesorios ******/
#accesorios {
	li {
		&:nth-child(1) div {
			background-image: url("../img/accesorios_electronica.jpg");
		}
		&:nth-child(2) div {
			background-image: url("../img/accesorios_rodillos.jpg");
		}
		&:nth-child(3) div {
			background-image: url("../img/accesorios_portabicis.jpg");
		}
		&:nth-child(4) div {
			background-image: url("../img/accesorios_mantenimiento.jpg");
		}
		&:nth-child(5) div {
			background-image: url("../img/accesorios_complementos.jpg");
		}
	}
}

/***************************************************/
/******************** Galeria 6 ********************/
.galeria6 {
	grid-template: {
	columns: repeat(7,1fr);
	rows: repeat(2,25vw) 20vw;
	areas: /*acá usé nombres genericos (diferentes) porque la uso en más de un caso*/
	"anchoG6-1	anchoG6-1	anchoG6-1	anchoG6-1	medioG6-1	medioG6-1	medioG6-1"
	"medioG6-2	medioG6-2	medioG6-2	anchoG6-2	anchoG6-2	anchoG6-2	anchoG6-2"
	"anchoG6-3	anchoG6-3	anchoG6-3	anchoG6-3	anchoG6-3	chicoG6		chicoG6";
	}
	li {
		&:nth-child(1) {
			grid-area: anchoG6-1;
		}
		&:nth-child(2) {
			grid-area: medioG6-1;
		}
		&:nth-child(3) {
			grid-area: medioG6-2;
		}
		&:nth-child(4) {
			grid-area: anchoG6-2;
		}
		&:nth-child(5) {
			grid-area: anchoG6-3;
		}
		&:nth-child(6) {
			grid-area: chicoG6;
		}
	}
}
/****** Imágenes de sección: Componentes ******/
#componentes {
	li {
		&:nth-child(1) div {
			background-image: url("../img/componentes_cuadros.jpg");
		}
		&:nth-child(2) div {
			background-image: url("../img/componentes_transmision.jpg");
		}
		&:nth-child(3) div {
			background-image: url("../img/componentes_frenos.jpg");
		}
		&:nth-child(4) div {
			background-image: url("../img/componentes_ruedas.jpg");
		}
		&:nth-child(5) div {
			background-image: url("../img/componentes_cubiertas.jpg");
		}
		&:nth-child(6) div {
			background-image: url("../img/componentes_otros.jpg");
		}
	}
}
/****** Imágenes de sección: Indumentaria ******/
#indumentaria {
	li {
		&:nth-child(1) div {
			background-image: url("../img/indumentaria_calzado.jpg");
		}
		&:nth-child(2) div {
			background-image: url("../img/indumentaria_remeras.jpg");
		}
		&:nth-child(3) div {
			background-image: url("../img/indumentaria_calzas.jpg");
		}
		&:nth-child(4) div {
			background-image: url("../img/indumentaria_maillots.jpg");
		}
		&:nth-child(5) div {
			background-image: url("../img/indumentaria_camperas.jpg");
		}
		&:nth-child(6) div {
			background-image: url("../img/indumentaria_complementos.jpg");
		}
	}
}
/************** Grids en Acordeon de Productos - Fin  *********/
/**************************************************************/